.page-header {
  margin: 0px 0 10px !important;
}

/*input.ng-invalid{
  color: #555;
  border-color: rgba(239, 48, 48, 0.8) !important;
  box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(239, 48, 48, 0.6) !important;
}*/
