<toast></toast>

<div class="container">
  <div class="page-header">
    <h1>Administration</h1>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#mvt" aria-controls="mvt" role="tab" data-toggle="tab">Indicateurs</a></li>
    <li role="presentation"><a href="#bdd" aria-controls="bdd" role="tab" data-toggle="tab">Base de donnée</a></li>
    <li role="presentation"><a href="#machines" aria-controls="machines" role="tab" data-toggle="tab">Machines</a></li>
    <li role="presentation"><a href="#emplacements" aria-controls="emplacements" role="tab" data-toggle="tab">Emplacements</a></li>
    <li role="presentation"><a href="#import" aria-controls="import" role="tab" data-toggle="tab">Import</a></li>
    <li role="presentation"><a href="#last" aria-controls="last" role="tab" data-toggle="tab">Dernières actions</a></li>
    <li role="presentation"><a href="#save" aria-controls="save" role="tab" data-toggle="tab">Sauvegardes</a></li>
  </ul>


  <!-- CHOICE -->
  <div class="tab-content">

    <!-- Indicateurs -->
    <div role="tabpanel" class="tab-pane active" id="mvt">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <form name="formI">
            <div class="form-group" ng-class="{ 'has-error': formI.start.$invalid, 'has-success': formI.start.$valid }">
              <label class="control-label" for="start">Début (actuel : {{ $ctrl.start | amDateFormat:'DD/MM/YYYY' }})</label>
              <input type="text" name="start" ng-model="$ctrl.startI" ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/((19\d{2})|([2-9]\d{3}))$/" ng-required="true" class="form-control">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formI.end.$invalid, 'has-success': formI.end.$valid }">
              <label class="control-label" for="end">Fin (actuel : {{ $ctrl.end | amDateFormat:'DD/MM/YYYY' }})</label>
              <input type="text" name="end" ng-model="$ctrl.endI" ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/((19\d{2})|([2-9]\d{3}))$/" ng-required="true" class="form-control">
            </div>
          </form>
          <button ng-click="$ctrl.newDate()" class="btn btn-info" ng-disabled="formI.$invalid">Valider</button>
          <button ng-click="$ctrl.updateChart()" class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Graphique</button>
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>Date</th>
                <th>Entrée</th>
                <th>Sortie</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="m in $ctrl.mvt">
                <td>{{ m.date | amDateFormat:'DD/MM/YY' }}</td>
                <td>{{ m.in }}</td>
                <td>{{ m.out }}</td>
                <td><b>{{ m.in + m.out }}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- </div>
        <div class="row"> -->
        <div class="col-md-8 col-xs-12">
          <canvas id="chart"></canvas>
          <button ng-click="$ctrl.exportChart()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Sauvegarder le graphique</button>
        </div>
      </div>
    </div>

    <!-- STOCK -->
    <div role="tabpanel" class="tab-pane" id="bdd">
      <div class="row">
        <form name="formDb">
          <div class="col-md-3">
            <div class="form-group" ng-class="{ 'has-error': formDb.skip.$invalid, 'has-success': formDb.skip.$valid }">
              <label class="control-label" for="skip">Début</label>
              <input name="skip" type="number" min="0" ng-model="$ctrl.skip" class="form-control" value="0" ng-required="true"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formDb.limit.$invalid, 'has-success': formDb.limit.$valid }">
              <label class="control-label" for="limit">Limite</label>
              <input name="limit" type="number" min="0" ng-model="$ctrl.limit" class="form-control" value="10" ng-required="true"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" ng-class="{ 'has-error': formDb.po.$invalid, 'has-success': formDb.po.$valid }">
              <label class="control-label" for="po">OF</label>
              <input name="po" type="number" ng-pattern="/^[0-9]{8}$/" ng-model="$ctrl.po" class="form-control" min="0"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formDb.article.$invalid, 'has-success': formDb.article.$valid }">
              <label class="control-label" for="article">Article</label>
              <input name="article" type="number" ng-pattern="/^[0-9]{4,7}$/" ng-model="$ctrl.article" class="form-control" min="0"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formDb.location.$invalid, 'has-success': formDb.location.$valid }">
              <label class="control-label" for="location">Emplacement</label>
              <input name="location" type="text" ng-pattern="/^[0-9]{2}[A-Z][0-9]{2}$/" ng-model="$ctrl.location" class="form-control" min="0"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" ng-class="{ 'has-error': formDb.machine.$invalid, 'has-success': formDb.machine.$valid }">
              <label class="control-label" for="machine">Machine</label>
              <input name="machine" type="number" ng-pattern="/^40[0-9]{3}$/" ng-model="$ctrl.machine" class="form-control" min="0"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formDb.lot.$invalid, 'has-success': formDb.lot.$valid }">
              <label class="control-label" for="article">Lot</label>
              <input name="lot" type="number" ng-pattern="/^[0-9]*$/" ng-model="$ctrl.lot" class="form-control" min="0"/>
            </div>
            <div class="form-group">
              <label class="control-label" for="state">Etat</label>
              <select name="state" ng-model="$ctrl.state" class="form-control">
                <option value="all">Tout</option>
                <option value="in">En stock</option>
                <option value="request">Demandé</option>
                <option value="out">Sorti</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="btn-group-vertical" role="group">
              <button ng-click="$ctrl.change()" class="btn btn-default" ng-disabled="formDb.$invalid">Valider filtres</button>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Export
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a ng-click="$ctrl.export()">Tout</a></li>
                  <li><a ng-click="$ctrl.exportInventaire()">Inventaire</a></li>
                </ul>
              </div>
            </diV>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-12">
          Affichés : {{ $ctrl.containers.length }}
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>Actions</th>
                <th>Emplacement</th>
                <th>OF</th>
                <th>Article</th>
                <th>Machine</th>
                <th>Lot</th>
                <th>Pièces</th>
                <th>Entrée</th>
                <th>Demande</th>
                <th>Sortie</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in $ctrl.containers" ng-class="{'success': c.inDate && !c.requestDate && !c.outDate, 'info': c.inDate && c.requestDate && !c.outDate}">
                <td>
                  <button class="btn btn-default btn-xs" ng-click="$ctrl.open(c)">Editer</button>
                </td>
                <td><span class="label label-default">{{ c.location }}</label></td>
                  <td>{{ c.po | po }}</td>
                  <td>{{ c.article }}</td>
                  <td>{{ c.machine }} <small>{{ $ctrl.machineName(c.machine) }}</small></td>
                  <td>{{ c.lot }}</td>
                  <td>{{ c.parts }}</td>
                  <td>{{ c.inDate | amDateFormat:'DD/MM/YY HH:mm' }}</td>
                  <td>{{ c.requestDate | amDateFormat:'DD/MM/YY HH:mm' }}</td>
                  <td>{{ c.outDate | amDateFormat:'DD/MM/YY HH:mm' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



      <!-- MACHINES -->
      <div role="tabpanel" class="tab-pane" id="machines">
        <div class="row">
          <div class="col-md-6">
            <h4>Ajout machine</h4>
            <form name="formM">
              <div class="form-group" ng-class="{ 'has-error': formM.id.$invalid, 'has-success': formM.id.$valid }">
                <label class="control-label" for="id">Numéro (40xxx)</label>
                <input name="id" type="number" ng-pattern="/^40[0-9]{3}$/" ng-model="$ctrl.new.id" class="form-control" value="" min="0" ng-required="true"/>
              </div>
              <div class="form-group" ng-class="{ 'has-error': formM.emplacment.$invalid, 'has-success': formM.emplacment.$valid }">
                <label class="control-label" for="emplacment">Lieu appro.</label>
                <input name="emplacment" type="text" ng-model="$ctrl.new.emplacment" class="form-control" ng-required="true"/>
              </div>
              <button ng-click="$ctrl.addMachine($ctrl.new)" class="btn btn-default" ng-disabled="formM.$invalid">Ajouter</button>
            </form>
          </div>
          <div class="col-md-6">
            Total : {{ $ctrl.machines.length }}
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>Numéro</th>
                  <th>Lieu appro.</th>
                  <th>Supprimer</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="m in $ctrl.machines">
                  <td>{{ m._id }}</td>
                  <td>{{ m.emplacment }}</td>
                  <td><button type="button" ng-click="$ctrl.removeMachine(m._id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <!-- Emplacements -->
      <div role="tabpanel" class="tab-pane" id="emplacements">
        <div class="row">
          <div class="col-md-6">
            <h4>Ajout emplacements</h4>
            <form name="formEmplacment">
              <div class="form-group" ng-class="{ 'has-error': formEmplacment.emplacment.$invalid, 'has-success': formEmplacment.emplacment.$valid }">
                <label class="control-label" for="emplacment">Emplacement (séparés par des sauts de ligne)</label>
                <textarea rows="5" cols="50" name="emplacment" ng-model="$ctrl.newEmplacments" ng-pattern="/^([0-9]{2}[A-Z][0-9]{2})+$/gm" class="form-control" ng-required="true"></textarea>
              </div>
            </form>
            <button ng-click="$ctrl.addEmplacments($ctrl.newEmplacments)" ng-disabled="formEmplacment.$invalid" class="btn btn-default">Ajouter</button>
          </div>
          <div class="col-md-6">
            Total : {{ $ctrl.emplacments.length }}
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>Emplacement</th>
                  <th>Supprimer</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="e in $ctrl.emplacments">
                  <td>{{ e._id }}</td>
                  <td><button type="button" ng-click="$ctrl.removeEmplacment(e._id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



      <!-- Import -->
      <div role="tabpanel" class="tab-pane" id="import">
        <div class="row">
          <div class="col-md-12">
            <h4>Importer les containers</h4>
            <form>
              <div class="form-group">
                <label class="control-label" for="import">Fichier CSV, séparateur point-virgule</label>
                <input name="fileCsv" type="file" accept=".csv" id="fileCsv" ng-required="true"/>
              </div>
            </form>
            <div ng-show="t" class="alert alert-danger" role="alert">
              <b>Attention !</b> Cette opération ne peut être annulée.
              <ul>
                <li>La base actuelle (containers) va être sauvegardée</li>
                <li>La base actuelle (containers) sera supprimée</li>
                <li>Les données ci-dessus seront importées dans la base de donnée</li>
              </ul>
            </div>
            <button ng-init="t = false" ng-click="t = !t" class="btn btn-default">Importer</button>
            <button ng-show="t" ng-click="$ctrl.import(); t = !t" class="btn btn-danger">Oui, je suis sûr(e) de ce que je fais !</button>
          </div>
        </div>
      </div>


      <!-- Last -->
      <div role="tabpanel" class="tab-pane" id="last">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Mouvement</th>
                  <th>Emplacement</th>
                  <th>Machine</th>
                  <th>OF/Article</th>
                  <th>Lot</th>
                  <th>Pièces</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="c in $ctrl.allContainers track by $index" ng-click="$ctrl.check = c._id" ng-class="{'h4 warning': $ctrl.check === c._id, 'success': c.inDate, 'info': c.requestDate}">
                  <td>
                    <span ng-show="c.inDate" class="glyphicon glyphicon glyphicon-import" aria-hidden="true"></span>
                    <span ng-show="c.requestDate" class="glyphicon glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                    <span ng-show="c.outDate" class="glyphicon glyphicon glyphicon-export" aria-hidden="true"></span>
                  </td>
                  <td>{{ c | chooseDate | amDateFormat:'DD/MM/YY HH:mm' }}</td>
                  <td>
                    {{ (c.inDate) ? 'Entrée' : null }}
                    {{ (c.requestDate) ? 'Demande' : null }}
                    {{ (c.outDate) ? 'Sortie' : null }}
                  </td>
                  <td><span class="label label-default">{{ c.location }}</label></td>
                    <td>{{ c.machine }} <small>{{ $ctrl.machineName(c.machine) }}</small></td>
                    <td>{{ c.article || (c.po | po) }}</td>
                    <td>{{ c.lot }}</td>
                    <td>{{ c.parts }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Save -->
        <div role="tabpanel" class="tab-pane" id="save">
          <div class="row">
            <form name="formSave">
              <div class="col-md-4">
                <h4>FTP</h4>
                <div class="form-group" ng-class="{ 'has-error': formSave.ftpActive.$invalid, 'has-success': formSave.ftpActive.$valid }">
                  <label class="control-label" for="ftpActive">Active</label>
                  <input type="checkbox" name="ftpActive" ng-model="$ctrl.save.ftp.active">
                </div>
                <div class="form-group" ng-class="{ 'has-error': formSave.ftpHost.$invalid, 'has-success': formSave.ftpHost.$valid }">
                  <label class="control-label" for="ftpHost">Host</label>
                  <input name="ftpHost" type="text" ng-model="$ctrl.save.ftp.host" class="form-control" ng-required="true"/>
                </div>
                <div class="form-group" ng-class="{ 'has-error': formSave.ftpUser.$invalid, 'has-success': formSave.ftpUser.$valid }">
                  <label class="control-label" for="ftpUser">User</label>
                  <input name="ftpUser" type="text" ng-model="$ctrl.save.ftp.user" class="form-control" ng-required="true"/>
                </div>
                <div class="form-group" ng-class="{ 'has-error': formSave.ftpPassword.$invalid, 'has-success': formSave.ftpPassword.$valid }">
                  <label class="control-label" for="ftpPassword">Password</label>
                  <input name="ftpPassword" type="text" ng-model="$ctrl.save.ftp.password" class="form-control" ng-required="true"/>
                </div>
              </div>
              <div class="col-md-4">
                <h4>Local</h4>
                <div class="form-group" ng-class="{ 'has-error': formSave.localActive.$invalid, 'has-success': formSave.localActive.$valid }">
                  <label class="control-label" for="localActive">Active</label>
                  <input type="checkbox" name="localActive" ng-model="$ctrl.save.local.active">
                </div>
                <div class="form-group" ng-class="{ 'has-error': formSave.localDir.$invalid, 'has-success': formSave.localDir.$valid }">
                  <label class="control-label" for="localDir">Host</label>
                  <input name="localDir" type="text" ng-model="$ctrl.save.local.directory" class="form-control" ng-required="true"/>
                </div>
              </div>
              <div class="col-md-4">
                <h4>SMB</h4>
                <div class="form-group" ng-class="{ 'has-error': formSave.smbActive.$invalid, 'has-success': formSave.smbActive.$valid }">
                  <label class="control-label" for="smbActive">Active</label>
                  <input type="checkbox" name="smbActive" ng-model="$ctrl.save.smb.active">
                </div>
                <div class="form-group" ng-class="{ 'has-error': formSave.smbShare.$invalid, 'has-success': formSave.smbShare.$valid }">
                  <label class="control-label" for="smbShare">Share</label>
                  <input name="smbShare" type="text" ng-model="$ctrl.save.smb.share" class="form-control" ng-required="true"/>
                </div>
                <div class="form-group" ng-class="{ 'has-error': formSave.smbDir.$invalid, 'has-success': formSave.smbDir.$valid }">
                  <label class="control-label" for="smbDir">Directory</label>
                  <input name="smbDir" type="text" ng-model="$ctrl.save.smb.directory" class="form-control" ng-required="true"/>
                </div>
                <div class="form-group" ng-class="{ 'has-error': formSave.smbDomain.$invalid, 'has-success': formSave.smbDomain.$valid }">
                  <label class="control-label" for="smbDomain">Domain</label>
                  <input name="smbDomain" type="text" ng-model="$ctrl.save.smb.domain" class="form-control" ng-required="true"/>
                </div>
                <div class="form-group" ng-class="{ 'has-error': formSave.smbUser.$invalid, 'has-success': formSave.smbUser.$valid }">
                  <label class="control-label" for="smbUser">User</label>
                  <input name="smbUser" type="text" ng-model="$ctrl.save.smb.user" class="form-control" ng-required="true"/>
                </div>
                <div class="form-group" ng-class="{ 'has-error': formSave.smbPassword.$invalid, 'has-success': formSave.smbPassword.$valid }">
                  <label class="control-label" for="smbPassword">Password</label>
                  <input name="smbPassword" type="text" ng-model="$ctrl.save.smb.password" class="form-control" ng-required="true"/>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button ng-click="$ctrl.updateSave($ctrl.save)" ng-disabled="formSave.$invalid" class="btn btn-default">Sauvegarder</button>
            </div>
          </div>
        </div>


      </div><!-- tab -->






      <!-- MODALS -->

      <!-- MODAL view -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Editer container/mouvement</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <h4>Données</h4>
                  <ul class="list-group">
                    <li class="list-group-item"><span class="badge">{{ $ctrl.edit.po | po }}</span>OF</li>
                    <li class="list-group-item"><span class="badge">{{ $ctrl.edit.article }}</span>Article</li>
                    <li class="list-group-item"><span class="badge">{{ $ctrl.edit.machine }}</span>Machine</li>
                    <li class="list-group-item"><span class="badge">{{ $ctrl.edit.lot }}</span>Lot</li>
                    <li class="list-group-item"><span class="badge">{{ $ctrl.edit.parts }}</span>Pièces</li>
                    <li class="list-group-item"><span class="badge">{{ $ctrl.edit.inDate | amDateFormat:'DD/MM/YY HH:mm' }}</span>Entrée en stock</li>
                    <li class="list-group-item"><span class="badge">{{ $ctrl.edit.requestDate | amDateFormat:'DD/MM/YY HH:mm' }}</span>Demande sortie de stock</li>
                    <li class="list-group-item"><span class="badge">{{ $ctrl.edit.outDate | amDateFormat:'DD/MM/YY HH:mm' }}</span>Sortie de stock</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h4>Actions</h4>
                  <div class="list-group">
                    <button class="list-group-item" ng-click="$ctrl.in($ctrl.edit._id)"><span class="glyphicon glyphicon glyphicon-import" aria-hidden="true"></span> Faire entrée en stock</button>
                    <button class="list-group-item" ng-click="$ctrl.request($ctrl.edit._id)"><span class="glyphicon glyphicon glyphicon-export" aria-hidden="true"></span> Faire demande sortie de stock</button>
                    <button class="list-group-item" ng-click="$ctrl.out($ctrl.edit._id)"><span class="glyphicon glyphicon glyphicon-export" aria-hidden="true"></span> Faire sortie de stock</button>
                  </div>
                  <div class="list-group">
                    <button class="list-group-item" ng-click="$ctrl.cancelRequest($ctrl.edit._id)"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler demande sortie de stock</button>
                    <button class="list-group-item" ng-click="$ctrl.cancelOut($ctrl.edit._id)"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler sortie de stock</button>
                  </div>
                  <div class="list-group">
                    <button class="list-group-item list-group-item-danger" ng-click="$ctrl.remove($ctrl.edit._id)"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" ng-click="$ctrl.close()">Fermer</button>
            </div>
          </div>
        </div>
      </div>
