<div class="container">
  <div class="page-header">
    <h1>Opérateur <small ng-show="$ctrl.machineTemp != 0">Machine {{ $ctrl.machine.curValue }} <span class="glyphicon glyphicon-remove-circle" title="Déconnexion" aria-hidden="true" ng-click="$ctrl.machineTemp = 0; $ctrl.changeMachine();"></span> <span class="label label-default">{{ $ctrl.machineName }}</span></small></h1>
  </div>

  <div class="row" ng-show="$ctrl.machineTemp == 0">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert"><h2>Veuillez entrer le numéro de votre machine.</h2></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="btn-group btn-group-justified" role="group" ng-show="$ctrl.machine.curValue">
        <a role="button" ng-click="$ctrl.changeChoice(1)" class="btn btn-warning {{ $ctrl.choice === 1 ? 'active' : '' }}"><span class="glyphicon glyphicon glyphicon-export" aria-hidden="true"></span> SORTIE ENCOURS</a>
        <a role="button" ng-click="$ctrl.changeChoice(2)" class="btn btn-success {{ $ctrl.choice === 2 ? 'active' : '' }}"><span class="glyphicon glyphicon glyphicon-export" aria-hidden="true"></span> SORTIE COMPOSANT</a>
        <a role="button" ng-click="$ctrl.changeChoice(3)" class="btn btn-primary {{ $ctrl.choice === 3 ? 'active' : '' }}"><span class="glyphicon glyphicon glyphicon-hourglass" aria-hidden="true"></span>
          VOIR DEMANDES ({{ $ctrl.containers.length }})</a>
        </div>
      </div>
      <div class="col-md-2">
        <form id="barcode-form" class="form-inline barcode-form">
          <label class="control-label" class="control-label" for="barcode-input">Entrée code-barres</label>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></span>
            <input id="barcode-input" type="text" ng-model="$ctrl.barcode" name="barcode" placeholder="" class="form-control" autofocus/>
          </div>
        </form>
      </div>
    </div>


    <div class="row" ng-show="$ctrl.machine.curValue">
      <!-- SORTIE STOCK ENCOURS -->
      <div class="col-md-6" ng-show="$ctrl.choice === 1">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon glyphicon-export" aria-hidden="true"></span> Sortie encours</h3>
          </div>
          <div class="panel-body">
            <form name="formEncours">
              <div class="form-group"  ng-class="{ 'has-error': formEncours.po.$invalid, 'has-success': formEncours.po.$valid }">
                <label class="control-label" for="po">OF :</label>
                <input ng-model="$ctrl.encours.po" type="number" ng-pattern="/^[0-9]{8}$/" min="0" name="po" placeholder="OF" class="form-control no-focus" ng-required="true" aria-describedby="helpBlock1" ng-keyup="$ctrl.findPo()"/>
                <span id="helpBlock1" class="help-block" ng-show="$ctrl.sumOfPo">{{ $ctrl.sumOfPo }} containers en stock.</span>
              </div>
            </form>
          </div>
          <div class="panel-footer">
            <div class="btn-group" role="group">
              <button ng-click="$ctrl.addEncours()" class="btn btn-warning" ng-disabled="formEncours.$invalid"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sortie stock encours</button>
              <button ng-click="$ctrl.encours = { po: '' }" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> RàZ</button>
            </div>
          </diV>
        </div>
      </div>

      <!-- SORTIE STOCK COMPOSANT -->
      <div class="col-md-6" ng-show="$ctrl.choice === 2">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon glyphicon-export" aria-hidden="true"></span> Sortie composant</h3>
          </div>
          <div class="panel-body">
            <form name="formComposant">
              <div class="form-group" ng-class="{ 'has-error': formComposant.article.$invalid, 'has-success': formComposant.article.$valid }">
                <label class="control-label" for="article">Article :</label>
                <input ng-model="$ctrl.composant.article" type="number" ng-pattern="/^[0-9]{4,7}$/" min="0" name="article" placeholder="Article" class="form-control no-focus" ng-required="true" ng-keyup="$ctrl.findParts()" />
              </div>
              <div class="form-group" ng-class="{ 'has-error': formComposant.parts.$invalid, 'has-success': formComposant.parts.$valid }">
                <label class="control-label" for="parts">Quantité de pièces :</label>
                <input ng-model="$ctrl.composant.parts" type="number" min="0" name="parts" placeholder="Pièces" class="form-control no-focus" ng-required="true" aria-describedby="helpBlock"/>
                <span id="helpBlock" class="help-block" ng-show="$ctrl.sumOfParts">{{ $ctrl.sumOfParts }} pièces en stock.</span>
              </div>
            </form>
          </div>
          <div class="panel-footer">
            <div class="btn-group" role="group">
              <button ng-click="$ctrl.addComposant()" class="btn btn-success" ng-disabled="formComposant.$invalid"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sortie stock composant</button>
              <button ng-click="$ctrl.composant = { article: '', parts: '' }" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> RàZ</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- DEMANDES EN ATTENTE -->
    <div class="row" ng-show="$ctrl.choice === 3 && $ctrl.machine.curValue">
      <div class="col-md-12">
        <h3><span class="label label-primary"><span class="glyphicon glyphicon glyphicon-hourglass" aria-hidden="true"></span></span> Demandes de sorties de stock ({{ $ctrl.containers.length }})</h3>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>OF</th>
              <th>Article</th>
              <th>Lot</th>
              <th>Quantité</th>
              <th>Demande</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in $ctrl.containers">
              <td><span class="label label-primary">{{ c.po | po }}</label></td>
                <td><span class="label label-primary">{{ c.article }}</label></td>
                  <td>{{ c.lot }}</td>
                  <td>{{ c.parts }}</td>
                  <td>{{ c.requestDate | amDateFormat:'DD/MM/YY HH:mm' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
