<toast></toast>

<div class="container">
  <div class="page-header">
    <h1>Magasinier</h1>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="btn-group btn-group-justified" role="group">
        <a role="button" ng-click="$ctrl.changeChoice(1)" class="btn btn-warning btn-lg {{ $ctrl.choice === 1 ? 'active' : '' }}"><span class="glyphicon glyphicon glyphicon-import" aria-hidden="true"></span> ENTREE ENCOURS</a>
        <a role="button" ng-click="$ctrl.changeChoice(2)" class="btn btn-success btn-lg {{ $ctrl.choice === 2 ? 'active' : '' }}"><span class="glyphicon glyphicon glyphicon-import" aria-hidden="true"></span> ENTREE COMPOSANT</a>
        <a role="button" ng-click="$ctrl.changeChoice(3)" class="btn btn-primary btn-lg {{ $ctrl.choice === 3 ? 'active' : '' }}"><span class="glyphicon glyphicon glyphicon-export" aria-hidden="true"></span> SORTIE STOCK ({{ $ctrl.containers.length }})</a>
      </div>
    </div>
    <div class="col-md-2">
      <form id="barcode-form" class="barcode-form">
        <label class="control-label" for="barcode-input">Entrée code-barres</label>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></span>
          <input id="barcode-input" type="text" ng-focus="$ctrl.focus" ng-focus-lost="$ctrl.lostFocus()" ng-model="$ctrl.barcode" name="barcode" placeholder="" class="form-control" autofocus/>
        </div>
      </form>
    </div>
  </div>



  <div class="row">
    <!-- ENTREE STOCK ENCOURS -->
    <div class="col-md-6" ng-show="$ctrl.choice === 1">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon glyphicon-import" aria-hidden="true"></span> Entrée encours</h3>
        </div>
        <div class="panel-body">
          <form name="formEncours">
            <div class="form-group" ng-class="{ 'has-error': formEncours.po.$invalid, 'has-success': formEncours.po.$valid }">
              <label class="control-label" for="po">OF :</label>
              <input id="po" ng-model="$ctrl.encours.po" type="number" min="0" ng-pattern="/^[0-9]{8}$/" name="po" placeholder="OF" class="form-control no-focus" ng-required="true"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEncours.machine.$invalid, 'has-success': formEncours.machine.$valid }">
              <label class="control-label" for="machine">Machine :</label>
              <input ng-model="$ctrl.encours.machine" type="number" min="40000" max="49999" ng-pattern="/^[0-9]{5}$/" name="machine" placeholder="Machine" class="form-control no-focus" ng-required="true"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEncours.location.$invalid, 'has-success': formEncours.location.$valid }">
              <label class="control-label" for="location">Emplacment :</label>
              <input ng-model="$ctrl.encours.location" type="text" ng-pattern="/^[0-9]{2}[A-Z][0-9]{2}$/" name="location" placeholder="Emplacement" class="form-control no-focus" ng-required="true" ng-keyup="$ctrl.testEmplacment($ctrl.encours.location)" aria-describedby="helpBlock1"/>
              <span id="helpBlock1" class="help-block" ng-show="$ctrl.encours.location.length > 0">{{ $ctrl.testOfEmplacment ? 'Emplacement libre.' : 'Emplacement occupé ou inexistant.'}}</span>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <div class="btn-group" role="group">
            <button ng-click="$ctrl.addEncours()" class="btn btn-warning btn-lg" ng-disabled="formEncours.$invalid"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Entrée stock composant</button>
            <button ng-click="$ctrl.encours = { po: '', machine: '', location: '' }" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> RàZ</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ENTREE STOCK COMPOSANT -->
    <div class="col-md-6" ng-show="$ctrl.choice === 2">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon glyphicon-import" aria-hidden="true"></span> Entrée composant</h3>
        </div>
        <div class="panel-body">
          <form name="formComposant">
            <div class="form-group" ng-class="{ 'has-error': formComposant.article.$invalid, 'has-success': formComposant.article.$valid }">
              <label class="control-label" for="article">Article :</label>
              <input ng-model="$ctrl.composant.article" type="number" min="0" ng-pattern="/^[0-9]{4,7}$/" name="article" placeholder="Article" class="form-control no-focus" ng-required="true"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formComposant.lot.$invalid, 'has-success': formComposant.lot.$valid }">
              <label class="control-label" for="lot">Lot :</label>
              <input ng-model="$ctrl.composant.lot" type="number" min="0" ng-pattern="/^[0-9]*$/" name="lot" placeholder="Lot" class="form-control no-focus" ng-required="true"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formComposant.parts.$invalid, 'has-success': formComposant.parts.$valid }">
              <label class="control-label" for="parts">Quantité de pièces :</label>
              <input ng-model="$ctrl.composant.parts" type="number" min="0" ng-pattern="/^[0-9]+$/" name="parts" placeholder="Pièces" class="form-control no-focus" ng-required="true"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formComposant.location.$invalid, 'has-success': formComposant.location.$valid }">
              <label class="control-label" for="location">Emplacement :</label>
              <input ng-model="$ctrl.composant.location" type="text" ng-pattern="/^[0-9]{2}[A-Z][0-9]{2}$/" name="location" placeholder="Emplacement" class="form-control no-focus" ng-required="true" ng-keyup="$ctrl.testEmplacment($ctrl.composant.location)" aria-describedby="helpBlock"/>
              <span id="helpBlock" class="help-block" ng-show="$ctrl.composant.location.length > 0">{{ $ctrl.testOfEmplacment ? 'Emplacement libre.' : 'Emplacement occupé ou inexistant.'}}</span>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <div class="btn-group" role="group">
            <button ng-click="$ctrl.addComposant()" ng-disabled="formComposant.$invalid" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Entrée stock composant</button>
            <button ng-click="$ctrl.composant = { article: '', lot: '', parts: '', location: '' }" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> RàZ</button>
          </div>
        </div>
      </div>
    </div>

    <!-- EMPLACEMENTS LIBRES -->
    <div class="col-md-6" ng-show="$ctrl.choice === 1 || $ctrl.choice === 2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon glyphicon-th" aria-hidden="true"></span> Emplacements libres <small ng-show="$ctrl.rate">({{ $ctrl.rate | percentage:1 }} d'occupation)</small></h3>
        </div>
        <ul class="list-group">
          <a class="list-group-item {{ ($ctrl.encours.location === f || $ctrl.composant.location === f) ? 'list-group-item-info' : '' }}" ng-repeat="f in $ctrl.free" ng-click="$ctrl.testOfEmplacment = true; ($ctrl.choice === 1) ? $ctrl.encours.location = f : $ctrl.composant.location = f">{{ f }}</a>
        </ul>
      </div>
    </div>

    <button ng-show="$ctrl.choice === 1 || $ctrl.choice === 2" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExampleIn" aria-expanded="false" aria-controls="collapseExampleIn">
      Voir les dernières entrées
    </button>
  </div>

  <!-- DERNIERES ENTREES -->
  <div class="row" ng-show="$ctrl.choice === 1 || $ctrl.choice === 2">
    <div class="col-md-12">
      <div class="collapse" id="collapseExampleIn">
        <h3><span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span> Dernières entrées</h3>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Actions</th>
              <th>Emplacement</th>
              <th>OF</th>
              <th>Article</th>
              <th>Machine</th>
              <th>Lot</th>
              <th>Pièces</th>
              <th>Entrée</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in $ctrl.containersLastIn">
              <td>
                <button class="btn btn-danger btn-xs" ng-click="$ctrl.modalRemove(c)">Annuler entrée</button>
              </td>
              <td><span class="label label-default">{{ c.location }}</span></td>
              <td>{{ c.po | po }}</td>
              <td>{{ c.article }}</td>
              <td>{{ c.machine }}</td>
              <td>{{ c.lot }}</td>
              <td>{{ c.parts }}</td>
              <td>{{ c.inDate | amDateFormat:'DD/MM/YY HH:mm' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>








  <!-- SORTIE DE STOCK -->
  <div class="row" ng-show="$ctrl.choice === 3">
    <div class="col-md-12">
      <h3><span class="label label-primary"><span class="glyphicon glyphicon glyphicon-export" aria-hidden="true"></span></span> Sortie de stock ({{ $ctrl.containers.length }})</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sortie</th>
            <th>Emplacement</th>
            <th>Lieu appro.</th>
            <th>OF</th>
            <th>Article</th>
            <th>Machine</th>
            <th>Lot</th>
            <th>Pièces</th>
            <th>Demande</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in $ctrl.containers">
            <td>
              <button class="btn btn-primary btn-lg" ng-click="$ctrl.out(c._id)">Sortie</button>
            </td>
            <td><h3 style="margin-top: 0px; margin-bottom: 0px;"><span class="label label-default">{{ c.location }}</span></h3></td>
            <td><h3 style="margin-top: 0px; margin-bottom: 0px;"><span class="label label-default">{{ $ctrl.machineName(c.machine) }}</span></h3></td>
            <td><h5>{{ c.po | po }}</h5></td>
            <td><h5>{{ c.article }}</h5></td>
            <td><h5>{{ c.machine }}</h5></td>
            <td><h5>{{ c.lot }}</h5></td>
            <td><h5>{{ c.parts }}</h5></td>
            <td><h5>{{ c.requestDate | amDateFormat:'DD/MM/YY HH:mm' }}</h5> <button class="btn btn-danger btn-xs" ng-click="$ctrl.cancelRequest(c._id)">Annnuler</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExampleOut" aria-expanded="false" aria-controls="collapseExampleOut">
      Voir les dernières sorties
    </button>
  </diV>

  <div class="row" ng-show="$ctrl.choice === 3">
    <div class="col-md-12">
      <div class="collapse" id="collapseExampleOut">
        <h3><span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span> Dernières sorties</h3>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Actions</th>
              <th>Emplacement</th>
              <th>Lieu appro.</th>
              <th>OF</th>
              <th>Article</th>
              <th>Machine</th>
              <th>Lot</th>
              <th>Pièces</th>
              <th>Sortie</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in $ctrl.containersLastOut">
              <td>
                <button class="btn btn-danger btn-xs" ng-click="$ctrl.cancelOut(c._id)">Annuler sortie</button>
              </td>
              <td><span class="label label-default">{{ c.location }}</span></td>
              <td><h4><span class="label label-default">{{ $ctrl.machineName(c.machine) }}</span></h4></td>
              <td>{{ c.po | po }}</td>
              <td>{{ c.article }}</td>
              <td>{{ c.machine }}</td>
              <td>{{ c.lot }}</td>
              <td>{{ c.parts }}</td>
              <td>{{ c.outDate | amDateFormat:'DD/MM/YY HH:mm' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


<!-- MODAL annuler entrée -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-danger"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Voulez-vous supprimer cette entrée définitivement ?</p>
        <ul class="list-group">
          <li class="list-group-item"><span class="badge">{{ $ctrl.edit.po | po }}</span>OF</li>
          <li class="list-group-item"><span class="badge">{{ $ctrl.edit.article }}</span>Article</li>
          <li class="list-group-item"><span class="badge">{{ $ctrl.edit.machine }}</span>Machine</li>
          <li class="list-group-item"><span class="badge">{{ $ctrl.edit.lot }}</span>Lot</li>
          <li class="list-group-item"><span class="badge">{{ $ctrl.edit.parts }}</span>Pièces</li>
          <li class="list-group-item"><span class="badge">{{ $ctrl.edit.inDate | amDateFormat:'DD/MM/YY HH:mm' }}</span>Entrée en stock</li>
          <li class="list-group-item"><span class="badge">{{ $ctrl.edit.requestDate | amDateFormat:'DD/MM/YY HH:mm' }}</span>Demande sortie de stock</li>
          <li class="list-group-item"><span class="badge">{{ $ctrl.edit.outDate | amDateFormat:'DD/MM/YY HH:mm' }}</span>Sortie de stock</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" ng-click="$ctrl.remove($ctrl.edit._id)">Supprimer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
